@*
    
*@
@{
    ViewData["Title"] = "ResearchofAdmin";

}

<h1>Riepilogo giornaliero</h1>

<p>Il numero degli ordini evasi: <span id="countOrder"></span></p>


<input type="date" id="date" />
<button id="research">Ricerca</button>

<p>Il guadagno del giorno <span id="dateinput"></span> è di : <span id="totalPrice"></span></p>