<div class="text-center my-5">
    <div class="bg-TextBox text-white rounded p-5">
        <h1 class="display-3">Welcome to Pizzeria In Forno</h1>
        <p class="lead">Experience the best pizza in town, made with love and fresh ingredients.</p>
        <hr class="my-4">
        
    </div>
    <div class="mt-4">
        <a class="btn btn-light btn-lg" asp-controller="Product" asp-action="AllProducts">Show Products</a>
    </div>
</div>